/*
Template 2036 Blue Office
http://www.tooplate.com/view/2036-blue-office
*/

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #ffffff;
	background-repeat: repeat-x;
	background-position: top;
}

.home { background-image: url(images/tooplate_home_body.jpg) } 
.subpage { background-image: url(images/tooplate_subpage_body.jpg) }

a, a:link, a:visited { 
	color: #d95e1c; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

p { margin: 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #0f3252; }
h1 { font-size: 27px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 15px; padding: 0; font-weight: normal; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 20px; font-weight: normal; margin: 0 0 10px; padding:5px 0; color:#8cc9ff;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { 
	display: inline-block; 
	border: 1px solid #ccc; 
	padding: 4px; 
	background: #fff; 
	margin-bottom: 5px; 
}

.image_fl { 
	float: left; 
	margin: 3px 15px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 15px; 
}

blockquote { 
	font-style: italic; 
	margin-left: 10px;
}

cite { 
	font-weight: bold; 
	color:#000; 
}

cite span { 
	color: #333; 
}

em { 
	color: #1b6fbb; 
}

.tooplate_list { 
	margin: 20px 0 20px 20px; 
	padding: 0; 
	list-style: none; 
}

.tooplate_list li { 
	color:#f48a06; 
	background: transparent url(images/tooplate_list.jpg) no-repeat scroll 0 3px; 
	margin:0 0 10px; 
	padding: 3px 0 3px 20px; 	
	line-height: 1em; 
}

.tooplate_list li a { 
	color: #f48a06; 
}

.tooplate_list li a:hover { 
	color: #f48a06; 
}

#tooplate_wrapper {
	width: 940px;
	padding: 0 20px;
	margin: 0 auto;
	background: url(images/tooplate_wrapper.png) repeat-y left;
}


#tooplate_wrapper1 {
	width: 940px;
	padding: 0 20px;
	margin: 0 auto;
	
}

#tooplate_sidebar {
	float: left;
	width: 260px;
	padding-bottom: 40px;
	background: #e1e1e1 url(images/tooplate_header_bg.jpg) top no-repeat;
}

#site_title a { 
	display: block; 
	width: 220px; 
	height: 40px; 
	padding: 90px 20px 20px; 
	font-size: 15px; 
	margin-top: 15px; 
	font-weight: bold; 
	text-align: center;	
	color: #8cc9ff; 
	background: url(images/net_resize2.jpeg) center top no-repeat; 
}

#site_title span { 
	color: #fff; 
}

#site_title a:hover { 
	text-decoration: none; 
}

#home_service { 
	clear: both; 
	padding: 0 5px; 
	margin-bottom: 20px; 
}

.home_service_box { 
	position: relative; 
	display: block; 
	width: 155px; 
	height: 50px; 
	padding: 15px 15px 15px 80px; 
	background: url(images/tempatemo_service_bg.jpg) no-repeat; 
	margin-bottom: 5px; 
	font-size: 11px; 
	line-height: 1.2em; 
} 

.home_service_box h5 a { 
	color: #618823; 
	margin-bottom: 10px; 
}

.home_service_box span.service1 { 
	position: absolute; 
	background: url(images/onebit_18.png); 
	width: 48px; 
	height: 48px; 
	left: 15px; 
	top: 16px; 
}

.home_service_box span.service2 { 
	position: absolute; 
	background: url(images/onebit_18.png); 
	width: 48px; 
	height: 48px; 
	left: 15px; 
	top: 16px; 
}

.home_service_box span.service3 { 
	position: absolute; 
	background: url(images/onebit_18.png); 
	width: 48px; 
	height: 48px; 
	left: 15px; 
	top: 16px; 
}

.home_service_box span.service4 { 
	position: absolute; 
	background: url(images/onebit_18.png); 
	width: 48px; 
	height: 48px; 
	left: 15px; 
	top: 16px; 
}

.sidebar_box { 
	padding: 15px; 
	border-bottom: 1px solid #999; 
}

.sidebar_box h4 { 
	color: #0f3252; 
}

.sbb_last { 
	border-bottom: none; 
}

.sidebar_box form .newsletter_email { 
	width: 218px; 
	padding: 10px; 
	margin: 10px 0; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #F2F2F2; 
	background: #F2F2F2; 
	border: 1px solid #AAA; 
}

#newsletter_box form #submit_subscribe { 
	cursor: pointer; 
	float: right;
	padding: 8px 10px;
	background: #F2F2F2;
	border: 1px solid #AAA;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333;
}

#tooplate_main { 
	float: right; 
	width: 640px;  

}

#tooplate_main1 { 
	float: right; 
	width: 640px; 
	height:600px; 

}


#tooplate_menu { 
	width: 640px; 
	height: 60px; 
	margin-bottom: 30px; 
}

#tooplate_menu ul { 
	height: 30px; 
	margin: 0 0 40px; 
	padding: 20px 0 0; 
	list-style: none; 
}

#tooplate_menu ul li { 
	padding: 0; 
	margin: 0; 
	display: inline; 
}

#tooplate_menu ul li a { 
	float: left; 
	display: block; 
	padding-left: 20px; 
	margin-right: 40px; 
	font-size: 14px; 
	text-decoration: none; 
	color: #a2c8eb; 
	font-weight: bold; 
	background: url(images/tooplate_menu.png) no-repeat left center; 
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current { 
	color: #a2c8eb; 
	background: url(images/tooplate_menu_hover.png) no-repeat left center; 
}

#featured_project { 
	clear: both; 
	height: 270px; 
	width: 640px; 
	color: #fff; 
	margin: 50px 0 80px; 
}

#featured_project h1 { color: #fff; /* text-shadow: 2px 2px 3px #000 */ }
#featured_project h3 { color: #dce5ed }
#featured_project p { margin-bottom: 15px; color: #588ab7 }
#featured_project a { color: #588ab7; font-weight: bold }
#featured_project img { 
	float: left; 
	width: 320px; 
	height: 180px; 
	border: 1px solid #28557e; 
	padding: 8px; 
	margin-right: 40px; 
	background: #071a2b; 
}

#tooplate_content { 
	clear: both; 
	padding-bottom: 40px; 
}

#tooplate_content h2 { 
	line-height: 30px; 
}

#tooplate_content p { 
	margin-bottom: 15px; 
}

#content_title_box { 
	clear: both; 
	color: #fff; 
	font-size: 16px; 
	line-height: 20px; 
	margin-bottom: 70px; 
}


#content_title_box1 { 
	clear: both; 
	color: #fff; 
	font-size: 16px; 
	line-height: 24px; 
	margin-bottom: 80px; 
}

#content_title_box h2 { 
	color: #fff; 
}

.content_box { 
	margin-bottom: 40px; 
	padding-bottom: 20px;
}

.cb_last { 
	margin-bottom: 0; 
	padding-bottom: 0; 
	border-bottom: none; 
}

.col_w300 { 
	width: 300px; 
}

.home_newsbox { 
	margin-bottom: 20px; 
}

.service_box { 
	padding-bottom: 30px; 
	margin-bottom: 30px; 
	border-bottom: 1px dashed #ccc; 
}

.sb_last { 
	padding: 0; 
	margin: 0; 
	border: none; 
}

.service_box img { 
	float: left; 
	width: 48px; 
	height: 48px; 
}

.service_box .right { 
	float: right; 
	width: 560px; 
}

.service_box ol li { 
	list-style: decimal-leading-zero; 
	margin-bottom: 5px; 
}

/* gallery */

#gallery { clear: both; }
#gallery .gallery_box { 
	padding-bottom: 20px; 
	margin-bottom: 20px; 
	border-bottom: 1px dashed #ccc; 
}

#gallery .gallery_box .left { 
	float: left; 
	width: 280px; 
}

#gallery .gallery_box .left img { 
	width: 270px; 
	height: 130px; 
	border: 2px solid #000; 
	padding: 1px; 
	background: #64808b; 
}

#gallery .gallery_box .right { 
	float: right; 
	width: 330px;  
}

/* end of gallery */

#contact_form {
	width: 330px; 
	padding: 0px;
	margin: 0px;
}

#contact_form form .input_field {
	width: 280px;
	padding: 8px;
	background: #F2F2F2;
	border: 1px solid #AAA;
	color: #333; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-top: 10px;
	font-size: 14px;
	color: #333;	
}

#contact_form form textarea {
	width: 380px;
	height: 200px;
	background: #F2F2F2;
	border: 1px solid #AAA;
	padding: 8px; 
	color: #333; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn {
	margin: 10px 0px;
	padding: 8px 16px;
	background: #F2F2F2;
	border: 1px solid #AAA;
	color: #333;
	font-size: 13px;
	font-weight: bold;
}

#tooplate_footer_wrapper { 
	clear: both; 
	width: 100%; 
	border-top: 5px solid #AAA; 
	background: #0f3252; 
}

#tooplate_footer { 

	height:20px;
	width: 640px; 
	padding: 10px; 
	margin-top: 10px auto;
	text-align:center; 
	color: #64a6e3; 
}

#tooplate_footer a { color: #b6dcff }

#CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #aad4ff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aad4ff), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #aad4ff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aad4ff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#aad4ff,ffffff);

	background-color:#aad4ff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}




#TablePreviewBox{
    padding-top:10px;

    margin-left:10%;
    margin-right:10%;

    text-align:center;
}
.CodeTextareaBox{
    margin:0;
    padding: 0;
    display:inline-block;
    margin-left:15px;
}
textarea{
    border: 1px dashed #2d251d;
}
/*Theme Color, Color Table CSS*/
#themes_tables{
	border:0px solid white;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	-webkit-border-radius:6px; 
	-moz-border-radius:6px; 
	border-radius:6px;
	padding:2px;
	color:black;
}.themes_tables:hover{
	background-color:#52463b;
}.themes_tables table{
	width:100%;
}.themes_tables td{
	padding-top:3px;
	padding-bottom:3px;
}.themes_tables div{
	width:30px;
	height:30px;
	background-color:#ff7f00;
	border:1px solid #cccccc;
}/*End Theme Color, Color Table CSS*/